<div class="row justify-content-sm-center">
  <div class="col-sm-6">
    <div class="card mt-5">
      <div class="card-block">
        <h4 class="text-center bg-primary text-white p-2">Edit course</h4>
        <div class="card-body">
          <div class="form-group">
            <label for="">name</label>
            <input
              type="text" class="form-control" placeholder="" aria-describedby="helpId" [(ngModel)]="course.name">
          </div>
          <div class="form-group">
            <label for="">decription</label>
            <input
              type="text" class="form-control" placeholder="" aria-describedby="helpId" [(ngModel)]="course.decription">
          </div>
          <div class="form-group">
            <label for="">Price</label>
            <input
              type="text" class="form-control" placeholder="" aria-describedby="helpId" [(ngModel)]="course.fee">
          </div>
        </div>
        <a name="" id="" class="btn btn-success btn-block" (click)="onEdit()" role="button">Save</a>
      </div>
    </div>
  </div>
</div>

