<div class="card mt-5">
  <div class="card-block text-xs-left|center|right">
    <h4 class="card-title text-center bg-primary text-white p-2">Course List</h4>
    <div class="row justify-content-between">
      <div class="col-sm-3">
        <button type="button" class="btn btn-success ml-3 btn-block" routerLink="/course/list/add">Add Course</button>
      </div>
      <div class="input-group mb-3 col-sm-4">
        <div class="input-group-prepend">
          <label class="input-group-text" for="inputGroupSelect01">Filler</label>
        </div>
        <select class="custom-select" id="inputGroupSelect01" [(ngModel)]="priceFilter">

          <option value="Chose">Chose....</option>
          <option value="increases">Price increases</option>
          <option value="decreases">Price decreases</option>
        </select>
      </div>
      <div class="col-sm-5 row justify-content-center">
        <div class="form-group ">
          <input appValidate type="text" class="form-control" placeholder="Search name queryParams"
                 [(ngModel)]="nameSearch"
                 (keyup.enter)="onSearch()">
        </div>
      </div>
    </div>


    <div class="card-body">
      <table class="table table-bordered">
        <thead>
        <tr class="text-primary">
          <th>Serial</th>
          <th>Name</th>
          <th>Decription</th>
          <th>Price</th>
          <th>CreatedAt</th>
          <th style="width: 150px; text-align: center">Status</th>
          <th>Action</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td>
            <div class="form-group">
              <input type="text" class="form-control" name="" aria-describedby="helpId" placeholder="search id"
                     [(ngModel)]="idSearch">
            </div>
          </td>
          <td>
            <div class="form-group">
              <input type="text" class="form-control" name="" aria-describedby="helpId" placeholder="search name"
                     [(ngModel)]="NameSearch">
            </div>
          </td>
          <td>
            <div class="form-group">
              <input type="text" class="form-control" name="" aria-describedby="helpId" placeholder="search description"
                     [(ngModel)]="desSearch">
            </div>
          </td>
          <td>
            <div class="form-group">
              <input type="text" class="form-control" name="" aria-describedby="helpId" placeholder="search price"
                     [(ngModel)]="priceSearch">
            </div>
          </td>
          <td>
            <div class="form-group">
              <input type="date" class="form-control" disabled name="" aria-describedby="helpId"
                     placeholder="search date"
                     [(ngModel)]="dateSearch">
            </div>
          </td>
          <td id="marginSelct">
            <div class="form-group">
              <select class="form-control" name="" [(ngModel)]="statusSearch">
                <option value="false">No Active</option>
                <option value="true">Active</option>
              </select>
            </div>
          </td>
          <td>
          </td>
        </tr>
        <tr
          *ngFor="let course of courseList | filerArray : idSearch :NameSearch :desSearch :priceSearch :dateSearch :statusSearch :priceFilter,let i = index">
          <td>{{course.id}}</td>
          <td>{{course.name}}</td>
          <td>{{course.decription | fomatString : 15}}</td>
          <td [style.color]="course.fee > 0 ? 'blue' : 'red'">{{course.fee > 0 ? (course.fee | currency:'VND':'symbol':
            '1.0-3' ) : 'Free'}}
          </td>
          <td>{{course.createdAt | converDate}}</td>
          <td style="text-align: center">{{course.status == true ? 'Active' : 'No Active'}}</td>
          <td>
            <button type="button"
                    class="btn btn-primary btn-block" routerLink='/course/list/{{course.id}}/edit'> Edit
            </button>
            <button type="button" class="btn btn-danger btn-block" (click)="deleteCourse(course.id)">Delete</button>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
