.background{
  margin-left: 0 !important;
}
.home{
  background-image: url('../../../../assets/background.jpg');
  background-size: cover;
  height: 900px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
